body{
    background-color: #010629;
    width: 1920px;
    height: 1080px;
    margin: auto;

    .head{
        width: 1920px;
        height: 60px;
        background: url(../images/head.png) 100% 100%;
    }
}