.flex-column{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-shrink-0{
    flex-shrink: 0;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-align-items-start{
    align-items: flex-start;
}
.flex-justify-content-space-around{
    justify-content: space-around;
}
.flex-justify-content-space-between{
    justify-content: space-between;
}
.blod{
    font-weight: bold;
}

.inset-border{
    position: relative;
    border: 1px solid #5376F9;
    box-shadow: 0 0 20px 0 #5376F9 inset;
}

.arrow{
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(../images/arrow.png) 100% 100%;
}
.arrow-1{
    left: 2px;
    top: 2px;
}
.arrow-2{
    right: 2px;
    top: 2px;
    transform: rotate(90deg);
}
.arrow-3{
    right: 2px;
    bottom: 2px;
    transform: rotate(180deg);
}
.arrow-4{
    left: 2px;
    bottom: 2px;
    transform: rotate(270deg);
}

.border-{
    position: absolute;
}
.border-1-{
    width: 80px;
    height: 60px;
    left: -4px;
    top: -4px;
    background: url(../images/border_1.png) 100% 100%;
}
.border-2-{
    width: 80px;
    height: 60px;
    right: -4px;
    top: -4px;
    background: url(../images/border_2.png) 100% 100%;
}
.border-3-{
    width: 120px;
    height: 100px;
    right: -4px;
    bottom: -4px;
    background: url(../images/border_3.png) 100% 100%;
}
.border-4-{
    width: 80px;
    height: 60px;
    left: -4px;
    bottom: -4px;
    background: url(../images/border_4.png) 100% 100%;
}

body{
    background: url(../images/pro_bg.png);
    width: 1920px;
    height: 1080px;
    margin: auto;
    color: #23CEFD;
    font-size: 14px;

    .toast-body-warning{
        color: #ffc107;
    }

    .head{
        width: 1920px;
        height: 60px;
        background: url(../images/head.png) no-repeat 100% 100%;
        background-position: center bottom;
        text-align: center;

        img{
            width: 96px;
            height: 24px;
            margin-top: 20px;
        }
    }

    .form{
        width: 1858px;
        height: 72px;
        margin: 20px auto;
    }

    form{
        label{
            min-width: 100px;
            padding: 0 30px;
        }

        .form-select,.form-control{
            width: 400px;
            height: 40px;
            background-color: transparent;
            color: #678EBF;
        }
        .form-select,.form-control:focus{
            background-color: transparent;
            outline: none;
            border: 1px solid #5376F9;
            box-shadow: 0 0 20px 0 #5376F9 inset;
            color: #678EBF;
        }
        .form-select,.form-control:active{
            background-color: transparent;
            outline: none;
            border: 1px solid #5376F9;
            box-shadow: 0 0 20px 0 #5376F9 inset;
            color: #678EBF;
        }

        .btn{
            width: 330px;
            height: 40px;
            background: linear-gradient(269deg, #56CCF2, #2A84FC);
            border-radius: 6px;
        }
        .btn:first-child{
            margin-left: 104px;
        }
        .btn:last-child{
            margin-left: 40px;
        }
    }

    .table-{
        width: 1858px;
        height: 857px;
        margin: 36px auto;
        padding: 30px 30px 0;
        position: relative;

        .table{
            color: #5CCBFA;
            border-color: #5376F9;

            th,td{
                height: 62px;
                text-indent: 2em;
            }
            th:last-child,td:last-child{
                text-align: center;
            }

            .history-btn{
                width: 172px;
                height: 36px;
                background: linear-gradient(269deg, #567EF2, #3E49D3);
                border-radius: 6px;
                border: none;
                outline: none;
                color: white;
            }
            .info-btn{
                width: 172px;
                height: 36px;
                background: linear-gradient(269deg, #6E78F2, #6946E2);
                border-radius: 6px;
                border: none;
                outline: none;
                color: white;
            }

        }


        nav{
            position: absolute;
            bottom: 10px;
            width: 100%;
        }
        .pagination{

            text-align: center;
            background: transparent;
            color: #9ECAFF;

            .active{
                .page-link{
                    background: #9ECAFF;
                    color: white;
                }
            }

            .page-link{
                border: 1px solid #9ECAFF;
                color: #9ECAFF;
                background: transparent;
            }
        }
    }


    .modal-content{
        // opacity: 0.8;
        border: none;
        background-color: #0b1241;
        text-align: center;
        position: relative;

        .btn-close-{
            position: absolute;
            right: -35px;
            top: -38px;
            cursor: pointer;
        }


        .form-select,.form-control{
            width: 400px;
            height: 54px;
            background-color: transparent;
            color: #678EBF;
            margin: 0 auto 50px;
        }
        .form-control:last-child{
            margin: auto;
        }
        .form-select,.form-control:focus{
            background-color: transparent;
            outline: none;
            border: 1px solid #5376F9;
            box-shadow: 0 0 20px 0 #5376F9 inset;
            color: #678EBF;
        }
        .form-select,.form-control:active{
            background-color: transparent;
            outline: none;
            border: 1px solid #5376F9;
            box-shadow: 0 0 20px 0 #5376F9 inset;
            color: #678EBF;
        }

        .department-add{
            width: 123px;
            height: 30px;
            border: 1px solid #91FFFB;
            border-radius: 8px;
            margin-left: 32px;
            margin-top: -30px;
            margin-bottom: 14px;
            cursor: pointer;
        }

        .confirm-btns{
            padding: 0 40px 60px;

            .modal-confirm{
                width: 190px;
                height: 54px;
                background: linear-gradient(94deg, #2864D1, #488EE9);
                opacity: 0.8;
                border-radius: 6px;
                line-height: 54px;
                color: white;
                border: none;
                outline: none;
                padding: 0;
            }
    
            .modal-cancel{
                width: 190px;
                height: 54px;
                background: linear-gradient(94deg, #795BE2, #6F77F2);
                opacity: 0.8;
                border-radius: 6px;
                line-height: 54px;
                color: white;
                border: none;
                outline: none;
                padding: 0;
            }
        }
    }

    .modal-table{ 
        .table{
            color: #5CCBFA;
            border-color: #5376F9;

            th,td{
                height: 46px;
                text-indent: 2em;
            }

            .info-btn{
                width: 119px;
                height: 30px;
                background: linear-gradient(90deg, #2D88FB 0%, #41B0DC 100%);
                border-radius: 6px;
                border: none;
                outline: none;
                color: white;
                line-height: 30px;
            }
        }
    }
}